.info-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* dialog start */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  width: 400px;
  position: 'relative';
}

/* dialog end */

@media (max-width: 900px) {
  .info-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .info-list {
    grid-template-columns: 1fr;
  }
  .modal-content {
    width: 300px;
    position: 'relative';
  }
}