.footer-container {
    background-color: #1f1f1f;
    line-height: 60px;
    color: #fff;
}

.footer-list {
    gap: 30px;
}

.footer-text {
    line-height: 1.5;
    text-align: center;
    padding: 10px 0;
}

.footer-list-item {
    cursor: pointer;
    color: #fff;
}

.footer-list-item a {
    cursor: pointer;
    color: #fff;
}

/* Mobil */
@media (max-width: 600px) {

    .footer-text,
    .footer-list a {
        font-size: 14px;
    }

    .footer-list {
        gap: 20px;
    }
}